body {
  overflow: hidden;
  background-color: black;
}

@font-face {
  font-family: 'kingArthur';
  src: url('../fonts/kingArthur.ttf');
}

.btn {
  position: relative;
  display: inline-block;
  font-size: 1.3em;
  font-weight: normal;
  text-align: center;
  border-radius: 4px;
  padding: 0px 16px;
  margin-bottom: 1%;
  font-family: 'kingArthur';
  color: white;
  background-image: url('../assets/wood texture dark.png');
  background-size: 100%;
}

.btn:hover {
  color: yellow;
}

.btn:visited {
  color: white;
}

#howtoplayDiv {
  height: 90%;
  width: 100%;
  background-size: 100%;
}

#gameScreen {
  float: none;
  height: 70%;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  background-size: 100% 100%;
  background-image: url("../images/bg3.jpg");
  background-size: 100%;
  border-style: dashed;
  border-color: black;
}

#logo {
  width: 20%;
  height: auto;
  top: 20%;
  margin: 0 auto;
  position: relative;
}

#leaderboardsDiv{
  font-family: 'kingArthur';
  color: white;
  text-align: center;
}

#leadPIC {
  height: 80%;
  width: auto;
}

#scoresText {
    z-index: 100;
    position: absolute;
    left: 42%;
    top: 30%;
}

#gameOverDiv {
  background-color: red;
  position: absolute;
}

#landscapeInstruction {
  font-family: 'kingArthur';
  color: white;
}

#muteMusicButton {
  width: 25%;

}

#muteSoundButton {
  width: 25%;
}

@media screen and (orientation:portrait){
}

@media screen and (orientation:landscape){
  body {
     -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
     -o-transform: rotate(0deg);
     -ms-transform: rotate(0deg);
     transform: rotate(0deg);
  }

  #landscapeInstruction {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  #gameScreen{
    height: 100%;
    width: 100%;
    position: relative;
  }

  .btn {
    width: 60%;
    height: 13%;
  }

  #logo {
    height: 30%;
    width: auto;
    margin: 0 auto;
  }

  #landscapeInstruction {
    font-size: 1em;
  }
}

@media screen and (max-width : 768px) {
  #gameScreen{
    height: 100%;
    width: 100%;
  }

  #myCarousel {
    height: 100%;
    width: 100%;
  }

  .btn {
    width: 60%;
    height: 13%;
  }

  #logo {
    height: 30%;
    width: auto;
    margin: 0 auto;
  }

  #landscapeInstruction {
    font-size: 1em;
  }
}
