body {
  overflow: hidden;
  background-color: black;
}

@font-face {
  font-family: 'kingArthur';
  src: url('../fonts/kingArthur.ttf');
}

.modal-body {
 background-image: url("../assets/wood texture 1.jpg");
}

.modal-header {
 background-image: url("../assets/wood texture 1.jpg");
}

h2 {
  font-family: 'kingArthur';
  color: white;
}

h4 {
  font-family: 'kingArthur';
  color: white;
}

.btn-lg {
  height: 15%;
  width: 50%;
  position: relative;
  display: inline-block;
  font-size: 1.3em;
  font-weight: normal;
  text-align: center;
  border-radius: 4px;
  padding: 0px 16px;
  margin-bottom: 1%;
  font-family: 'kingArthur';
  color: white;
  background-image: url('../assets/wood texture dark.jpg');
  background-size: 100%;
}

.btn:hover {
  color: yellow;
}

#howtoplayDiv {
  height: 90%;
  width: 100%;
  display: none;
}

#gameScreen {
  float: none;
  height: 60%;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  background-size: 100%;
  background-image: url("../assets/wood texture 1.jpg");
}

#logo {
  height: 30%;
  width: auto;
}

#leaderboardsDiv{
  font-family: 'kingArthur';
  color: white;
  text-align: center;
  display: none;
}

#leadPIC {
  height: 80%;
  width: auto;
}

#scoresText {
    margin: 0 auto;
    font-size: 2em;
}

#gameOverDiv {
  display: none;
}

#landscapeInstruction {
  font-family: 'kingArthur';
  color: white;
}

#muteMusicButton {
  width: 25%;

}

#muteSoundButton {
  width: 25%;
}

#myModal {
  width: 75%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

#mainGameDiv {
  height: 100%;
  width: 100%;
}

#uiDiv{
  height: 5%;
  width: 80%;
  margin: 0 auto;
  display: none;
  background-image: url("../assets/wood texture 1.jpg");
  background-size: 100%;
}

#uiDiv h4 {
  color: white;
}

.carousel-indicators li {
  visibility: hidden;
}

.achievement {
  width: 6%;
  height: auto;
}

@media screen and (orientation:landscape){
  body {
     -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
     -o-transform: rotate(0deg);
     -ms-transform: rotate(0deg);
     transform: rotate(0deg);
  }

  #landscapeInstruction {
    display: none;
  }
}

@media screen and (max-width : 768px) {
  #gameScreen{
    height: 80%;
    width: 100%;
  }

  #myCarousel {
    height: 80%;
    width: 100%;
  }

  #landscapeInstruction {
    font-size: 1em;
  }

  .progress {
      height: 50%;
      background-color: white;
      -webkit-box-shadow: none;
      box-shadow: none;
  }

  #angerMeterIG {
      height: 50%;
  }

  #howtoplayDiv {
    width: 100%;
    height: 80%;
  }

  #uiDiv{
   height: 3%;
   width: 100%;
   margin: 0 auto;
   display: none;
   background-image: url("../assets/wood texture dark.jpg");
   background-size: 100%;
 }
 
 #scoresText {
 font-size: 1em;
}
